.element__like{
  width: 22px;
  height: 19px;
  margin-top: 30px;
  background-image: url(../../../images/like.svg);
  background-size: cover;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.3s ease-in-out;
}

.element__like:hover{
  opacity: 50%;
}
