.popup__content {
  width: 430px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
}

@media (max-width: 690px) {
  .popup__content {
      width: 282px;
  }
}
