.header__logo{
  width: 142px;
  height: 33px;
  margin: 0;
  padding-bottom: 41px;
  background-repeat: no-repeat;
}
@media (max-width: 690px) {
  .header__logo{
    width: 103.74px;
    height: 24.4px;
    padding-bottom: 36.6px;
    margin-left: 27px;
    overflow: visible;
  }
}
