.element__group{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 25px 20px 31px 21px;
  padding: 0;
  padding-left: 21px;
  padding-right: 15px;
}
