.profile__add-button{
  width: 150px;
  height: 50px;
  background-color: #000;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  margin: 0;
  background-image: url(../../../images/Plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  cursor: pointer;
  padding: 0;
}

.profile__add-button:hover{
  opacity: 60%;
}

@media (max-width: 690px) {
  .profile__add-button{
    width: 282px;
    margin: 0;
    background-size: 16px;
  }
}
