.elements{
  max-width: 880px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 20px 17px;
}
@media (max-width: 690px) {
  .elements{
    max-width: 282px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
