.popup__close{
  background-image: url(../../../images/Close\ Icon.svg);
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: -40px;
  left: 438px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.3s ease-in-out;
}

.popup__close:hover {
  opacity: 60%;
}

@media (max-width: 690px) {
  .popup__close {
      height: 20px;
      width: 20px;
      top: -28px;
      left: 290px;
  }
}
