.profile__info-name{
  max-width: 490px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 690px) {
  .profile__info-name{
    max-width: 230px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
