.profile__info-description{
  max-width: 336px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0;
  width: 100%;
  text-align: center;
 }
 @media (max-width: 690px) {
  .profile__info-description{
    font-size: 14px;
    line-height: 17px;
    margin: 14px 0 0;
  }
}
