.profile__info-description{
  max-width: 336px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0;
  font-style: normal;
  text-align: left;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }
 @media (max-width: 690px) {
  .profile__info-description{
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    margin: 14px 0 0;
    text-align: center;
  }
}

